<section id="hotel_booking_area_fourteen" class="section_padding_bottom">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <div class="section_heading_twelve">
                    <h5>Hotel Booking</h5>
                    <h2>Recommended Hotels</h2>
                </div>
            </div>
        </div> 
        <!-- inner content -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="hotel_booking_fourteen_wrapper img_hover">
                    <div class="hotel_booking_img">
                        <a href="hotel-details.html"><img src="assets/img/home-fourteen/hotel/hotel-1.png" alt="img"></a>
                        <p><i class="fas fa-map-marker-alt"></i>Thailand</p>
                    </div>
                    <div class="hotel_booking_content">
                        <div class="discount_tab">
                            <span> 25% off </span>
                        </div>
                        <h4><a href="hotel-details.html">Prince Palace Hotel</a></h4>
                        <div class="hotel_booking_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non porttitor nisl est hac ornare.</p>
                        <h3>$99.00 <span>per night</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="hotel_booking_fourteen_wrapper img_hover">
                    <div class="hotel_booking_img">
                        <a href="hotel-details.html"><img src="assets/img/home-fourteen/hotel/hotel-2.png" alt="img"></a>
                        <p><i class="fas fa-map-marker-alt"></i>Kualalampur</p>
                    </div>
                    <div class="hotel_booking_content">
                        <div class="discount_tab">
                            <span> 35% off </span>
                        </div>
                        <h4><a href="hotel-details.html">Hotel Deluxe</a></h4>
                        <div class="hotel_booking_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non porttitor nisl est hac ornare.</p>
                        <h3>$99.00 <span>per night</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="hotel_booking_fourteen_wrapper img_hover">
                    <div class="hotel_booking_img">
                        <a href="hotel-details.html"><img src="assets/img/home-fourteen/hotel/hotel-3.png" alt="img"></a>
                        <p><i class="fas fa-map-marker-alt"></i>Singapore</p>
                    </div>
                    <div class="hotel_booking_content">
                        <div class="discount_tab">
                            <span> 20% off </span>
                        </div>
                        <h4><a href="hotel-details.html">Hotel Paradise</a></h4>
                        <div class="hotel_booking_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non porttitor nisl est hac ornare.</p>
                        <h3>$99.00 <span>per night</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="hotel_booking_fourteen_wrapper img_hover">
                    <div class="hotel_booking_img">
                        <a href="hotel-details.html"><img src="assets/img/home-fourteen/hotel/hotel-4.png" alt="img"></a>
                        <p><i class="fas fa-map-marker-alt"></i>Indonesia</p>
                    </div>
                    <div class="hotel_booking_content">
                        <div class="discount_tab">
                            <span> 30% off </span>
                        </div>
                        <h4><a href="hotel-details.html">Hotel Grand Palace</a></h4>
                        <div class="hotel_booking_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non porttitor nisl est hac ornare.</p>
                        <h3>$99.00 <span>per night</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="hotel_booking_fourteen_wrapper img_hover">
                    <div class="hotel_booking_img">
                        <a href="hotel-details.html"><img src="assets/img/home-fourteen/hotel/hotel-5.png" alt="img"></a>
                        <p><i class="fas fa-map-marker-alt"></i>Malaysia</p>
                    </div>
                    <div class="hotel_booking_content">
                        <div class="discount_tab">
                            <span> 30% off </span>
                        </div>
                        <h4><a href="hotel-details.html">Hotel Business Inn</a></h4>
                        <div class="hotel_booking_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non porttitor nisl est hac ornare.</p>
                        <h3>$99.00 <span>per night</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="hotel_booking_fourteen_wrapper img_hover">
                    <div class="hotel_booking_img">
                        <a href="hotel-details.html"><img src="assets/img/home-fourteen/hotel/hotel-6.png" alt="img"></a>
                        <p><i class="fas fa-map-marker-alt"></i>Nepal</p>
                    </div>
                    <div class="hotel_booking_content">
                        <div class="discount_tab">
                            <span> 15% off </span>
                        </div>
                        <h4><a href="hotel-details.html">Hotel Nepal Int.</a></h4>
                        <div class="hotel_booking_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non porttitor nisl est hac ornare.</p>
                        <h3>$99.00 <span>per night</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="hotel_booking_fourteen_wrapper img_hover">
                    <div class="hotel_booking_img">
                        <a href="hotel-details.html"><img src="assets/img/home-fourteen/hotel/hotel-7.png" alt="img"></a>
                        <p><i class="fas fa-map-marker-alt"></i>Philippine</p>
                    </div>
                    <div class="hotel_booking_content">
                        <div class="discount_tab">
                            <span> 50% off </span>
                        </div>
                        <h4><a href="hotel-details.html">Khaosan art Hotel</a></h4>
                        <div class="hotel_booking_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non porttitor nisl est hac ornare.</p>
                        <h3>$99.00 <span>per night</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="hotel_booking_fourteen_wrapper img_hover">
                    <div class="hotel_booking_img">
                        <a href="hotel-details.html"><img src="assets/img/home-fourteen/hotel/hotel-8.png" alt="img"></a>
                        <p><i class="fas fa-map-marker-alt"></i>China</p>
                    </div>
                    <div class="hotel_booking_content">
                        <div class="discount_tab">
                            <span> 50% off </span>
                        </div>
                        <h4><a href="hotel-details.html">The Grand Paradise</a></h4>
                        <div class="hotel_booking_rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur. Non porttitor nisl est hac ornare.</p>
                        <h3>$99.00 <span>per night</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>