.position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
  }
  
  .top-50 {
    top: 50%;
  }
  
  .end-0 {
    right: 0;
  }
  
  .translate-middle-y {
    transform: translateY(-50%);
  }
  