<section id="common_author_area" class="section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="common_author_boxed">
                    <div class="common_author_heading">
                        <h3>Forgot password</h3>
                        <h2>Reset you password</h2>
                    </div>
                    <div class="common_author_form">

                        <form [formGroup]="resetForm" (ngSubmit)="sendCode()" id="main_author_form" >
                            <div class="form-group">
                                <input type="email" formControlName="email" class="form-control" placeholder="Enter your email">

                                <div *ngIf="f.email.invalid && (f.email.dirt || f.email.touched)">
                                    <div class="text-danger" *ngIf="f.email.errors?.required">
                                        Email is required
                                    </div>

                                    <div class="text-danger" *ngIf="f.email.errors?.email">
                                        Email must be valid format
                                    </div>
                                </div>
                            </div>
                            <div class="common_form_submit">
                                <button class="btn btn_theme btn_md">Send code</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>