<div class="row">
    <div class="col-lg-12">
        <div class="all_review_wrapper">
            <h3 class="heading_theme">All review</h3>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="all_review_box">
            <div class="all_review_date_area">
                <div class="all_review_date">
                    <h5>publis date</h5>
                </div>
                <div class="all_review_star">
                    <h5>Excellent</h5>
                    <div class="review_star_all">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="all_review_text">
                <img src="assets/img/review/review1.png" alt="img">
                <h4>username</h4>
                <p>comment</p>
            </div>
        </div>
    </div>
</div>