<nav class="navbar text-uppercase">
  <div class="navbar-brand">
    <a routerLink="/home">
      M-Travel
    </a>
  </div>
  <div class="navbar-menu">
    <a routerLink="/home">Home</a>
    <a routerLink="/hotels">Hotels</a>
    <a routerLink="/flights">Flights</a>
    <a routerLink="/tours">Tours</a>
    <a routerLink="/about">About us</a>
    <a routerLink="/contact">Contact</a>
  </div>
  <div class="navbar-search">
    <input type="text" placeholder="Search..." />
    <button (click)="onSearch()">
      <i class="fas fa-search"></i>
  </button>
  </div>
  <div class="navbar-user" *ngIf="currentUser; else loggedOut">
    <img [src]="getProfilePictureUrl()" alt="User Avatar" class="avatar" (click)="toggleDropdown()" />
    <div class="dropdown" *ngIf="dropdownOpen">
      <a routerLink="/profile">Profile</a>
      <a (click)="logout()">Logout</a>
    </div>
  </div>
  <ng-template #loggedOut>
    <div class="auth-buttons">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>
  </ng-template>
</nav>
